body{
  background-color: black;
}
h1{
  font-size : 18em;
}
#Google{
  display:flex;
  align-items:center;
  justify-content:center;
}
.G:hover,.G:active{
  -webkit-text-fill-color: blue ;
  -moz--text-fill-color: blue ;
  -o--text-fill-color: blue ;
  -ms--text-fill-color: blue ;
  font-size:100%;
}
.O:hover,.O:active{
  -webkit-text-fill-color: red;
  -moz--text-fill-color: red ;
  -o--text-fill-color: red ;
  -ms--text-fill-color: red ;
  font-size:100%;
}
.Oo:hover,.Oo:active{
  -webkit-text-fill-color: yellow;
  -moz--text-fill-color: yellow ;
  -o--text-fill-color: yellow ;
  -ms--text-fill-color: yellow ;
  font-size:100%;
}
.L:hover,.L:active{
  -webkit-text-fill-color: green;
  -moz--text-fill-color: green ;
  -o--text-fill-color: green ;
  -ms--text-fill-color: green ;
  font-size:100%;
}
.E:hover,.E:active{
  -webkit-text-fill-color: red;
  -moz--text-fill-color: red ;
  -o--text-fill-color: red ;
  -ms--text-fill-color: red ;
  font-size:100%;
}
