*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
h1{
  font-size : 18em;
}
#Google{
  display:flex;
  align-items:center;
  justify-content:center;
}
.G:hover,.G:active{
  -webkit-text-fill-color: blue ;
  -moz--text-fill-color: blue ;
  -o--text-fill-color: blue ;
  -ms--text-fill-color: blue ;
  transition: all 1s;
  transform: scale(1.5);
}
.O:hover,.O:active{
  -webkit-text-fill-color: red;
  -moz--text-fill-color: red ;
  -o--text-fill-color: red ;
  -ms--text-fill-color: red ;
  transition: all 1s;
  transform: scale(1.5);
}
.Oo:hover,.Oo:active{
  -webkit-text-fill-color: yellow;
  -moz--text-fill-color: yellow ;
  -o--text-fill-color: yellow ;
  -ms--text-fill-color: yellow ;
  transition: all 1s;
  transform: scale(1.5);
}
.L:hover,.L:active{
  -webkit-text-fill-color: green;
  -moz--text-fill-color: green ;
  -o--text-fill-color: green ;
  -ms--text-fill-color: green ;
  transition: all 1s;
  transform: scale(1.5);
}
.E:hover,.E:active{
  -webkit-text-fill-color: red;
  -moz--text-fill-color: red ;
  -o--text-fill-color: red ;
  -ms--text-fill-color: red ;
  transition: all 1s;
  transform: scale(1.5);
}
